[submodule "Projetos/Area-Campolim-Sorocaba"]
	path = Projetos/Area-Campolim-Sorocaba
	url = https://github.com/totobusnello/Area-Campolim-Sorocaba.git
[submodule "Projetos/Area-Manuel_Nobrega"]
	path = Projetos/Area-Manuel_Nobrega
	url = https://github.com/totobusnello/Area-Manuel_Nobrega.git
[submodule "Projetos/GalapagosApp"]
	path = Projetos/GalapagosApp
	url = https://github.com/totobusnello/GalapagosApp.git
[submodule "Projetos/Granix-App"]
	path = Projetos/Granix-App
	url = https://github.com/totobusnello/Granix-App.git
[submodule "Projetos/daily-tech-digest"]
	path = Projetos/daily-tech-digest
	url = https://github.com/totobusnello/daily-tech-digest.git
[submodule "claude-project-template"]
	path = claude-project-template
	url = https://github.com/totobusnello/claude-project-template.git
[submodule "Projetos/Frooty"]
	path = Projetos/Frooty
	url = https://github.com/totobusnello/Frooty.git
[submodule "Projetos/Future-Farm"]
	path = Projetos/Future-Farm
	url = https://github.com/totobusnello/Future-Farm.git
[submodule "templates-powerpoint"]
	path = templates-powerpoint
	url = https://github.com/totobusnello/powerpoint-templates.git
[submodule "Projetos/agent-orchestrator"]
	path = Projetos/agent-orchestrator
	url = https://github.com/ComposioHQ/agent-orchestrator.git
